{% load i18n %}
{% load url from future %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-lg-4">
      <h2><i>Contracting Data Comparison is a directory of open contracting datasets, enabling comparison and assessment.</i></h2>
      <p>It is being built & used by the Open Contracting Data Standards project.</p>
      <p><b>{{ publisher_count }}</b> {% trans "publishers" %}, <b>{{ package_count }}</b> {% trans "datasets" %}, <b>{{ download_count }}</b> {% trans "links to data" %}.</p>
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">{% trans "Add datasets" %}</h3>
        </div>
        <div class="panel-body">
          <p>
            {% trans "Know of any datasets not listed here?  We appreciate contributions." %}
          </p>
          <p>
            <a class="btn btn-default" href="{% url 'add_package' %}">{% trans "add dataset »" %}</a>
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">{% trans "Research links" %}</h3>
        </div>
        <div class="panel-body">
          <p>
          We are analyzing the data on this site, to help inform the development of the <a href="http://ocds.open-contracting.org/standard">Open Contracting Data Standard</a>.
          <ul>
            <li><a href="{% url 'datamap_list' %}">All datmaps</a></li>
            <li><a href="{% url 'field_list' %}">Fields by concept</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 col-lg-4">
      <h2>{% trans "Latest " %} <a href="{% url 'publishers' %}">{% trans "Publishers" %}</a></h2>
    
      <div class="list-group">
        {% for publisher in latest_publishers %}
          <a href="{% url 'publisher' publisher.slug %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ publisher.name }}</h4>

            <p class="list-group-item-text">
              {% with publisher.description|truncatewords:25 as short %}
                {% if publisher.description|length > short|length %}
                  {{ short|slice:"-3" }}...
                {% else %}
                  {{ short }}
                {% endif %}
              {% endwith %}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>


    <div class="col-sm-4 col-lg-4">
      <h2>{% trans "Latest " %} <a href="{% url 'packages'  %}">{% trans "Datasets" %}</a></h2>
    
      <div class="list-group">
        {% for package in latest_packages %}
          <a href="{{ package.get_absolute_url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ package.title }}</h4>

            <p class="list-group-item-text">
              {% with package.description|truncatewords:25 as short %}
                {% if package.description|length > short|length %}
                  {{ short|slice:"-3" }}...
                {% else %}
                  {{ short }}
                {% endif %}
              {% endwith %}
              <br />
                {% with package.downloads.count as count %}
                <strong>{{ count }} download link{% if count == 1 %}{% else %}s{% endif %}</strong>
                {% endwith %}
            </p>
          </a>
        {% endfor %}
      </div>
    </div>
    

  </div><!-- endrow -->
  <div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"> 
                <h3>{% trans 'Datamaps' %}</h3>
            </div>
            <div class="panel-body">
                <p>To analyze existing contracting data, we are producing datamaps where we are trying
                to categorize all contracting fields into concepts that are common across all datasets.
                Below is a map of all the datasets that we have currently analyzed. The size of the dots 
                has been normalized so that datasets are comparable (e.g. if you look at the European OpenTED
                dataset it has 9x the number of fields compared to UNOPS). The concepts (horizontal-axis) have been
                sorted so that we see the most the frequently used concepts are shown towards the left, and least 
                frequently to the right.</p>
                <div class="visualization">
                    {{ all_normalized_sorted|safe }}
                </div>
            </div>
        </div>

    </div>  
  </div><!-- endrow -->

  <div class="row">
    <div class="col-sm-4 col-lg-4">
    </div>  
     {% if potw %}
    <div class="col-sm-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Featured Dataset</h3>
            </div>
            <div class="panel-body">
            <a href="{{ potw.get_absolute_url }}">{{ potw.title }}</a>
            <p>{{ potw.description }}</p>
            </div>

        </div>
    </div>
     {% endif %}

      {% if gotw %}
      <!-- start GOTW panel -->
    <div class="col-sm-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Featured Grid</h3>
        </div>
        <div class="panel-body">
          <a href="{{ gotw.get_absolute_url }}">{{ gotw.title }}</a>
          <p>{{ gotw.description }}</p>
          <p>
            <strong>{% trans "Packages" %}:</strong> {{ gotw.gridpackage_set.count }},
            <strong>{% trans "Features" %}:</strong> {{ gotw.feature_set.count }}
          </p>
        </div>
      </div>
      <!-- end GOTW panel -->
  </div>
      {% endif %}
    </div>


</div>
</div>
