{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load profile_tags %}
{% load crispy_forms_tags %}

{% block head_title %}Profile for {{ profile }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h2>{% blocktrans %}<span class="fn nickname">{{ profile }}</span>{% endblocktrans %}</h2>

      {% if user.username == profile %}
        <p><a href="{% url 'profile_edit' user.username %}">{% trans "Edit my profile" %}</a></p>
      {% endif %}    
      
      {% if local_profile.github_account %}
        <p><b>{% trans "Github account" %}</b>:
          <span class="fn"><a href="https://github.com/{{ local_profile.github_account }}">{{ local_profile.github_account }}</a></span>
        </p>
      {% endif %}

    </div>

    <div class="col-xs-10">
        <h3>{% trans "Datasets used" %}</h3>
        <ul class="usage-list">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Dataset" %}</th>
                <th>{% trans "Url" %}</th>                                                
              </tr>
            </thead>                    
            <tbody>
            {% if user.username == profile %}
              {% for package in user|package_usage %}
                <tr>
                    <td>{{ forloop.counter }}</td>                        
                    <td><a href="{{ package.get_absolute_url }}">{{ package.title }}</a></td>
                    <td><a href="{{ package.repo_url }}">{{ package.repo_url }}</a></td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>                    
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
