{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "django reusable apps, sites and tools directory" %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
        <li class="active">{% trans 'datasets' %}</li>
    </ol>
    <p>
    {% if user.profile.can_add_package %}
        <a class="btn btn-default" href="{% url 'add_package' %}">{% trans "add dataset" %} »</a>
    {% endif %}
    </p>
    {% regroup packages by category as categories %}
    {% for category in categories %}
    <h3><a href="{% url 'category' category.grouper.slug %}">{{ category.grouper.title }}</a> ({{ category.grouper.package_count }})</h3>
    <p>{{ category.grouper.description }}</p>
    {% with category.list as packages %}
        {% include 'package/package_table.html' %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {
        $('input#id_q_p').click(function() {
            $("input#id_q_p").val('');
        });
    });
</script>
{% endblock %}

