{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load package_tags %}

{% block head_title %}{{ package.title }}{% endblock %}

{% block extra_head %}
  <meta name="description" content="{{ package.description }}" />
  <meta name="keywords" content="{{ package.grid_set.all|join:',' }}" />
  {{ block.super }}
{% endblock %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li> 
        <li><a href="{% url 'packages' %}">{% trans "datasets" %}</a></li> 
        <li class="active">
            {{ package.title }} 
            {% if user.is_authenticated and user.profile.can_edit_package %}
                <a href="{% url 'edit_package' package.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </li>
    </ol>
  
  <div class="col-md-6">

    <!-- start Description panel -->
    <div class="panel panel-default">
        <dl class="dl-horizontal">
            <dt>{% trans "Publisher" %}</dt>
            <dd>{% if package.publisher %}<a href="{% url 'publisher' package.publisher.slug %}">{{ package.publisher }}</a> ({{ package.publisher.country_name }}){% endif %}</dd>
        </dl>
        <div class="lang-tabs">
            <ul class="nav nav-tabs pull-right">
                <li><a href="#tabs-en_US" title="English">EN</a></li>
                {% for translation in package.translations.all %}
                <li><a href="#tabs-{{ translation.language }}" title="{{ translation.language_name }}">{{ translation.language|truncatecharsbrute:2|upper }}</a></li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
            <div id="tabs-en_US">
            <dl class="dl-horizontal">
                <dt>{% trans "Title" %}</dt>
                <dd class="title">{{ package.title }}</dd>
                <dt>{% trans "Description" %}</dt>
                <dd class="description">{{ package.description|urlize|linebreaksbr }}</dd>
            </dl>
            </div>
            {% for translation in package.translations.all %}
            <div id="tabs-{{ translation.language }}">
            <dl class="dl-horizontal">
                <dt>{% trans "Title" %}</dt>
                <dd class="title">{{ translation.title }}</dd>
                <dt>{% trans "Description" %}</dt>
                <dd class="description">{{ translation.description|urlize|linebreaksbr }}</dd>
            </dl>
            </div>
            {% endfor %}
        </div>
        <dl class="dl-horizontal">
            <dt>{% trans "Category" %}</dt>
            <dd> <a href="{% url 'category' package.category.slug %}">{{ package.category }}</a> </dd>

            <dt>{% trans "# Using This" %}</dt>
            <dd> {{ package.usage.count }} &nbsp; {% with package as package %} {% usage_button %} {% endwith %} </dd>


            <dt>{% trans "Link" %}</dt>
            <dd>{{ package.url|urlizetrunc:40 }}</dd>

            <dt>{% trans "Documentation" %}</dt>
            <dd>{{ package.documentation|yesno|capfirst }} 
                {% if package.documentation %}
                    - {{ package.documentation_url|urlizetrunc:40}}
                {% endif %}
            </dd>

            <dt>{% trans "Machine Readable?" %}</dt>
            <dd>{{ package.machine_readable|yesno|capfirst }}</dd>

            <dt>{% trans "Formats" %}</dt>
            <dd>{% for format in package.formats.all %}{{ format.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</dd>

            <dt>{% trans "Nesting depth" %}</dt>
            <dd>{{ package.get_nesting_depth_display }}</dd>

            <dt>{% trans "Nesting description" %}</dt>
            <dd>{{ package.nesting }}</dd>
        </dl>
    </div>
    <!-- end Description panel -->

  </div> <!-- end six column section -->


  <div class="col-md-6">
    <!-- start Downloads panel -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{% trans "Downloads" %}</h3>
        <div class="pull-right">
          {% comment %}
          {% if user.is_authenticated and user.profile.can_edit_datamap %}
          <a title="add download" href="{% url 'download_add' %}?dataset={{ package.pk }}"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
          {% endcomment %}
        </div>
      </div>
      <div class="panel-body">
        <ul>
        {% for download in package.downloads.all %}
        <li><a href="{% url 'download' download.id %}" title="Download dataset - {{ download.title }} ({{ download.format }})">Download Dataset - {{ download.title }} ({{download.format}})</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end Downloads panel -->

    <!-- start Datamaps panel -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{% trans "Datamaps" %}</h3>
        <div class="pull-right">
          {% if user.is_authenticated and user.profile.can_add_datamap %}
          <a title="add datamap" href="{% url 'datamap_add' %}?dataset={{ package.pk }}"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
        </div>
      </div>
      <div class="panel-body">
        <ul>
        {% for datamap in package.datamaps.all %}
            <li><a href="{% url 'datamap' datamap.id %}" title="{{ datamap }}">{{ datamap.format }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end Datamaps panel -->
    <!-- start Grids panel -->
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{% trans "Comparison Grids" %}</h3>
        <div class="pull-right">
          {% if user.is_authenticated and user.profile.can_add_grid %}
            <a id="find-a-grid" href="#"><span class="glyphicon glyphicon-plus"></span></a>
            {% include "package/includes/_attach_grid.html" %}
          {% endif %}
        </div>
      </div>
      <div class="panel-body">
        <ul>
        {% for grid in package.grids.all %}
        <li><a href="{% url 'grid' grid.slug %}" title="{{ grid.description }}">{{ grid }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <!-- end Grids panel -->
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/underscore.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/gh3.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.tabs.min.js" type="text/javascript"></script>
{% endblock %}

{% block extra_body %}

<script type="text/javascript">
    $(function() {

        $('#find-a-grid').click(function(e) {
            e.preventDefault();
            $('#find-a-grid').hide();
            $('#find-a-grid-form').show();
            $('#find-a-grid-input').focus();

            $('#find-a-grid-input').keyup(function() {
                var search_text = $('input#find-a-grid-input').val();
                var search_text = '{% url 'ajax_grid_list' %}?q=' + search_text + '&package_id={{ package.id }}';
                console.log(search_text);
                $.get(search_text, function(data) {
                  $('#target').html(data).show("slow");
                });
            });

            $("#find-a-grid-form").keypress(function(e) {
                  if (e.which == 13) {
                    return false;
                  };
            });

        });

        $('.lang-tabs').tabs({event: "mouseover"});
    });
</script>
{% endblock %}
