{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load package_tags %}

{% block head_title %}{% trans "django reusable apps, sites and tools directory" %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xs-12">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
        <li class="active">{% trans 'datasets' %}</li>
    </ol>
      <p>
        {% if user.profile.can_add_package %}
          <a class="btn btn-default" href="{% url 'add_package' %}">{% trans "add dataset" %} »</a>
        {% endif %}
      </p>
    
     {% for category in categories %}
     <h3><a href="{% url 'category' category.slug %}">{{ category.title }}</a> ({{ category.package_count }})</h3>
     <p>{{ category.description }}</p>
     {% if category.package_count > 0 %}
        {% with category.packages.all as packages %}
            {% include 'package/package_table.html' %}
        {% endwith %}
    {% endif %}

     {% endfor %}
 </div></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {
        $('input#id_q_p').click(function() {
            $("input#id_q_p").val('');
        });
    });

</script>
{% endblock %}
