{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load package_tags %}

{% block head_title %}{% trans "django reusable apps, sites and tools directory" %}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
     {% for category in categories %}
        <h2><a href="{% url 'category' category.slug %}">{{ category.title }}</a> ({{ category.count }})</h2>
        <p>{{ category.description }}</p>
            {% with category.packages as packages %}
                {% include 'package/package_table.html' %}
            {% endwith %}
     {% endfor %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {
        $('input#id_q_p').click(function() {
            $("input#id_q_p").val('');
        });
    });

</script>
{% endblock %}
