{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ action|title }} {% trans "package" %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans "home" %}</a></li>
            <li><a href="{% url 'packages' %}">{% trans "datasets" %}</a></li>
            <li class="active">{% trans "edit dataset" %}</li>
        </ol>

        <form action="{{ request.path }}" method="post" id="package-form"> {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <fieldset>
                <h4>Add Translations</h4>
                <p>If you want to add more, save the dataset and then edit and you will be able to add more.</p>
                {% for form in inlines %}
                    {{ form|crispy }}
                {% endfor %}
            </fieldset>
            <input class="btn btn-default" type="submit" name="add" value="{% trans "save dataset" %}">
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/multi_select.js" type="text/javascript"></script>
{% endblock %}
