{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Datamaps" %}{% endblock %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li> 
        <li class="active">{% trans "datamaps" %}</li> 
    </ol>
    <div class="col-lg-12">
        {% include 'datamap/datamap_visual.html' %}

        <ul>
        {% for datamap in object_list %}
        <li><a href="{% url 'datamap' datamap.pk %}">{{ datamap.dataset }} - {{ datamap.format }}</a></li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock body %}
