{% load i18n %}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        {{ datamap.format }}
        <div class="pull-right">
          {% if request.user.is_authenticated and request.user.profile.can_edit_datamap %}
          <a title="add datamap field" href="{% url 'datamap_field_add' datamap.id %}"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
        </div>
    </div>
    <div class="panel-body">
        <p>{{ datamap.notes }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Fieldname' %}</th>
                    <th>{% trans 'Concept' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Title' %}</th>
                    <th>{% trans 'Description' %}</th>
                    <th>{% trans 'Allowable Values' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for field in datamap.fields.all %}
                {% for fieldtrans in field.translations.all %}
                    <tr>
                        {% if forloop.first %}
                        <td>
                            <a href="{% url 'datamap_field' datamap.id field.id %}">{{ field.fieldname }}</a>
                        </td>
                        <td>{{ field.concept }}</td>
                        <td>{{ field.datatype }}</td>
                        {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                        {% endif %}
                        <td>{{ fieldtrans.language_name|capfirst }}</td>
                        <td>{{ fieldtrans.title }}</td>
                        <td>{{ fieldtrans.description }}</td>
                        <td>{{ fieldtrans.allowable_values|truncatechars:40 }}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
