{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Datamap" %}{% endblock %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li> 
        <li><a href="{% url 'datamap_list' %}">{% trans "datamaps" %}</a></li> 
        <li class="active">{{ datamap }} <a href="{% url 'datamap_edit' datamap.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
    </ol>
    <div class="col-lg-12"> <!-- Table View-->
        {% include 'datamap/datamap_visual.html' %}
    </div>
    <div class="col-lg-12"> <!-- Table View-->
        {% include 'datamap/datamap_table.html' %}
    </div>
</div>

{% endblock body %}

{% block javascript %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/d3.min.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/datamap_vis.js" type="text/javascript"></script>
{% endblock %}
