{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}{{ action|title }} {% trans "datamap" %}{% endblock %}

{% block extra_head %}
    <style>
        .form-control {
            width: auto;
        }
        #id_notes {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">{% trans "home" %}</a></li> 
            <li><a href="{% url 'packages' %}">{% trans "datasets" %}</a></li> 
            <li><a href="{% url 'package' package.slug %}">{{ package.title }}</a></li>
            <li><a href="{% url 'datamap' datamap.pk %}">{{ datamap }}</a></li>
            <li class="active">{% trans "edit datamap" %}</li>
        </ol>

        <form role="form" action="{{ request.path }}" method="post" id="package-form"> {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-inline">
                <fieldset class="form-group">
                    {{ form.dataset.errors }}
                    {{ form.dataset|add_class:"form-control" }}
                    {{ form.format.errors }}
                    {{ form.format|add_class:"form-control" }}
                </fieldset>
            </div>
            <div>
                <fieldset class="form-group">
                    {{ form.notes.errors }}
                    <label class="control-label">{{ form.notes.label }}</label>
                    {{ form.notes|attr:"rows:2"|add_class:"form-control" }}
                </fieldset>
            </div>
            <input class="btn btn-default" type="submit" name="add" value="{% trans "save datamap" %}">
        </form>
    </div>
</div>
{% endblock %}
