{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Datamaps" %}{% endblock %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "home" %}</a></li> 
        <li class="active">{% trans "datamaps" %}</li> 
    </ol>
    <div class="col-lg-12">
        <h3>{% trans 'All datamaps (normalized)' %}</h3>
        {{ all_normalized|safe }}

        <h3>{% trans 'All datamaps (normalized) - sorted by frequency' %}</h3>
        {{ all_normalized_sorted|safe }}

        <ul>
        {% for datamap in object_list %}
        <li><a href="{% url 'datamap' datamap.pk %}">{{ datamap.dataset.publisher.country }} - {{ datamap.dataset.publisher.name }} - {{ datamap.dataset }} - {{ datamap.format }}</a></li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock body %}
