{% extends "base.html" %}

{% load url from future %}
{% load i18n %}
{% load profile_tags %}

{% block head_title %}{% trans "All Profiles" %}{% endblock %}

{% block body %}

<h2>{% trans "All Profiles" %}</h2>

    <table class="table" id="home-packages">
        
        {{ request.user.admin }}

        <thead>
        <tr>
            <th>{% trans "User Name" %}</th>
            <th>{% trans "Date Joined" %}</th>
            <th>{% trans "Staff" %}</th>
            {% if request.user.is_staff %}            
                <th>{% trans "Active" %}</th>            
            {% endif %}
        </tr>
        </thead>
        
        <tbody>
            {% for user in users %}
                {% with user.profile as profile %}
                <tr>
                    <td>
                        
                        {{ user.username }}
                    </td>
                    <td><span class="hide">{{ user.date_joined|date:"YmdHis" }}</span>{{ user.date_joined|timesince }}</td>
                    <td>
                        {% if user.is_staff %}
                            <img src="{{ STATIC_URL }}img/icon-yes.gif" />                            
                        {% else %}
                            <img src="{{ STATIC_URL }}img/icon-no.gif" />                            
                        {% endif %}                        
                    </td>
                    {% if request.user.is_staff %}
                        <td>
                            {% if user.is_active %}
                                <img src="{{ STATIC_URL }}img/icon-yes.gif" />                            
                            {% else %}
                                <img src="{{ STATIC_URL }}img/icon-no.gif" />                            
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
                {% endwith %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
